body {
	background-color: rgb(33, 33, 33);
	font-family: 'Courier New', monospace;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255); 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 200, 200); 
}

@keyframes Intro {
	from {opacity: 0%;}
	to {opacity: 100%;}
}

.Logo {
	width: 300px;
	height: 300px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	opacity: 100%;
	animation-name: Intro;
	animation-duration: 2.5s;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	user-select: none;
}

.MusicPlayerTextHolder {
	position: absolute;
	width: 500px;
	height: 200px;
	top: 250px;
	left: 50%;
	margin-left: -250px;
}

.MusicPlayerText {
	text-align: center;
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 100px;
	animation-name: Intro;
	animation-duration: 2.5s;
}

.InformationText1 {
	top: 800px;
	text-align: center;
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 40px;
}

.InformationText2 {
	left: 50%;
	margin-left: -300px;
	top: 1300px;
	text-align: center;
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 40px;
}

.InformationText3 {
	top: 1800px;
	text-align: center;
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 40px;
}

.MPDButtonPV {
	width: 300px;
	height: 75px;
	border-radius: 15px;
	border: none;
	top: 2100px;
	left: 50%;
	margin-left: -350px;
	background-color: rgb(3, 86, 252);
	text-align: center;
	position: absolute;
	color: rgb(255, 255, 255);
	font-family: 'Courier New', monospace;
	font-size: 20px;
	font-weight: bold;
}

.MPDButtonPV:hover {
	background-color: rgb(0, 71, 214);
}

.MPDButtonIV {
	width: 300px;
	height: 75px;
	border-radius: 15px;
	border: none;
	top: 2100px;
	left: 50%;
	margin-left: 50px;
	background-color: rgb(3, 86, 252);
	text-align: center;
	position: absolute;
	color: rgb(255, 255, 255);
	font-family: 'Courier New', monospace;
	font-size: 20px;
	font-weight: bold;
}

.MPDButtonIV:hover {
	background-color: rgb(0, 71, 214);
}

.SupportText {
	position: absolute;
	top: 2400px;
	color: rgb(255, 255, 255);
	font-size: 20px;
}